{% load render_bundle from webpack_loader %}

<html>
  <head>
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <div>
      <script src="https://maps.googleapis.com/maps/api/js">
      </script>
      <script>
        window.geocoder = new google.maps.Geocoder();
        window.google = google;
        window.getMapCanvas = function() {return document.getElementById('map-canvas')};
      </script>
      <script>
        window.csrftoken = "{{ csrf_token }}"
      </script>
      <div>
        <div id='map-canvas' style="width: 500px; height: 400px;"></div>
      </div>
      <div id="app">Text is replaced</div>
      {% render_bundle 'main' 'js' %}
    </div>
  </body>
</html>
