{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% render_bundle 'main' 'css' %}
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="
    https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css
    ">
  </head>
  <body>
    <div>
      <script src="https://maps.googleapis.com/maps/api/js">
      </script>
      <script>
        window.google = google;
      </script>
      <script>
        window.csrftoken = "{{ csrf_token }}"
      </script>
      <div id="app">Text is replaced</div>
      {% render_bundle 'main' 'js' %}
    </div>
  </body>
</html>
